.container{
    display: flex;
    justify-content: center;
}
.btn{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: Roboto;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #090909;
    text-transform: uppercase;
    margin-left: 10px;

}
.img{
    margin-left: 10px;   
}
.navLink{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #090909;
    margin-top: 10px;
    text-transform: uppercase;


}

.btn:focus,
.btn:hover{
    color: #fff;
    

}
.btn:not(:last-child){
    margin-left: 10px;
    
}