.navLink{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #090909;
    margin-top: 10px;
    text-transform: uppercase;


}

.navLink:focus,
.navLink:hover,
.navLink:active{
    color: #fff;
    

}
.navLink:not(:last-child){
    margin-right: 10px;
    
}
