.text{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #101010;
    margin-top: 10px;
}
.phone{
    color: #101010;
    margin-left: 5px; 
}