.button {
  display: block;
  font-family: Roboto;
  font-size: 15px;
  line-height: 13px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 5px;
  color: #525151;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background-color: rgba(232, 139, 33, 0.264);
  outline: 2px solid rgb(251, 195, 76);
  cursor: pointer;
}
.button:hover {
  background-color: rgba(232, 139, 33, 0.264);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
.list{
  padding: 0px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #525151;
  outline: 2px solid #FFF;
  padding: 3px;
}
.item:not(:last-child) {
  margin-bottom: 4px;
}

.item:hover {
  border-radius: 3px;
  outline: 2px solid rgb(251, 195, 76);
}
