.button {
  display: block;
  text-align: center;
  width: 30px;
  height: auto;
  padding: 5px;
  color: #525151;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list{
  padding: 0px;
  
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #525151;
  outline: 2px solid #FFF;
  padding: 3px;
}
.item:not(:last-child) {
  margin-bottom: 4px;
}

.item:hover {
  border-radius: 3px;
  outline: 1px solid rgb(251, 195, 76);
}
.btn{
  display: flex;
}
.button:hover .icon{
  color: rgb(251, 195, 76);
}
.buttonClose{
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
}
.iconGo{
color: #525151;

}
.buttonClose:hover .iconGo{
  color: rgb(251, 195, 76);
}