.button {
  display: block;
  font-family: Roboto;
  font-size: 15px;
  line-height: 13px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 5px;
  color: #525151;
  border-radius: 5px;
  border: none;
  background-color: rgba(122, 43, 226, 0.178);
  margin-left: 10px;
  outline: 2px solid rgba(164, 60, 185, 0.541);
  cursor: pointer;
}
.button:hover {
  background-color: rgba(122, 43, 226, 0.281);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #525151;
}
.item:not(:last-child) {
  margin-bottom: 5px;
}

.list {
  display: inline-block;
  margin-left: 0 auto;
  outline: 1px solid rgba(142, 18, 167, 0.322);
  padding: 10px;
  width: 400px;
  border-radius: 3px;
  background-color: rgba(122, 43, 226, 0.103);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list:hover {
  outline: 1px solid rgba(122, 43, 226, 0.548);
}
.item:hover {
  outline: 1px solid rgba(122, 43, 226, 0.548);
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(122, 43, 226, 0.185);
}
