.header{
    display: flex;
    justify-content: space-between;
}
.fallbackStyle {
    height: '100vh';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    font-size: 60;
    color: '#525151';
  }